<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.diandian.admin.merchant.modules.sys.mapper.SysRoleMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.diandian.admin.model.sys.SysRoleModel" id="sysRoleMap">
        <result property="id" column="id"/>
        <result property="roleName" column="role_name"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="createBy" column="create_by"/>
        <collection property="menuList" ofType="com.diandian.admin.model.sys.SysMenuModel">
            <id column="mid" property="id"/>
            <result column="menu_name" property="name"/>
        </collection>
    </resultMap>

    <select id="getById" resultMap="sysRoleMap">
		select r.id,r.role_name,r.remark,r.create_time,r.create_by,
		 m.id as mid,m.name as menu_name from sys_role r left join sys_role_menu rm on r.id= rm.role_id left join sys_menu m on rm.menu_id = m.id
		where r.id=#{roleId}
	</select>

    <!-- 查询用户创建的角色ID列表 -->
    <select id="listRoleIdListByCreater" resultType="long">
		select id from sys_role where create_by = #{createUserId}
	</select>

    <select id="listByOrgId" resultMap="sysRoleMap">
		SELECT
			r.id,
			r.role_name,
			r.remark,
			r.create_time,
			r.update_time,
			r.del_flag
		FROM sys_role r LEFT OUTER JOIN sys_role_org ro ON ro.role_id = r.id
		WHERE ro.org_id = #{orgId}
	</select>


</mapper>
