<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.diandian.dubbo.business.mapper.BizMallSuccessCaseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.diandian.dubbo.facade.model.biz.BizMallSuccessCaseModel">
        <result column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="type" property="type"/>
        <result column="parent_id" property="parentId"/>
        <result column="pic" property="pic"/>
        <result column="content" property="content"/>
        <result column="is_show" property="isShow"/>
        <result column="sort_num" property="sortNum"/>
        <result column="parentName" property="parentName"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <select id="listCasePage" parameterType="java.util.HashMap" resultMap="BaseResultMap">
        SELECT t.*,t2.title as parentName  FROM biz_mall_success_case t
        LEFT JOIN biz_mall_success_case t2 ON t.parent_id = t2.id
        WHERE 1=1
        <if test="params.title != null and params.title !=''">
            and t.title like CONCAT('%',#{params.title},'%')
        </if>
        <if test="params.type != null and params.type !=''">
            and t.type = #{params.type}
        </if>
        <if test="params.parentId != null and params.parentId !=''">
            and t.parent_id = #{params.parentId}
        </if>
    </select>
</mapper>
