<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.diandian.dubbo.business.mapper.BizPayConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.diandian.dubbo.facade.model.biz.BizPayConfigModel">
        <result column="id" property="id"/>
        <result column="pay_name" property="payName"/>
        <result column="pay_code" property="payCode"/>
        <result column="pay_pic" property="payPic"/>
        <result column="state" property="state"/>
        <result column="sort_num" property="sortNum"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

</mapper>
