<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.diandian.dubbo.business.mapper.member.MemberRecipientsSetMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.diandian.dubbo.facade.model.member.MemberRecipientsSetModel">
        <result column="id" property="id"/>
        <result column="state" property="state"/>
        <result column="member_id" property="memberId"/>
        <result column="province_code" property="provinceCode"/>
        <result column="province_name" property="provinceName"/>
        <result column="city_code" property="cityCode"/>
        <result column="city_name" property="cityName"/>
        <result column="area_code" property="areaCode"/>
        <result column="area_name" property="areaName"/>
        <result column="address" property="address"/>
        <result column="concact_name" property="concactName"/>
        <result column="concact_phone" property="concactPhone"/>
        <result column="zip_code" property="zipCode"/>
        <result column="default_flag" property="defaultFlag"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
    </resultMap>

</mapper>
