<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.diandian.dubbo.business.mapper.member.MemberExchangeSetMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.diandian.dubbo.facade.model.member.MemberExchangeSetModel">
        <result column="id" property="id"/>
        <result column="merchant_id" property="merchantId"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="state" property="state"/>
        <result column="stored_amount_base" property="storedAmountBase"/>
        <result column="exchange_rate" property="exchangeRate"/>
        <result column="shopping_rate" property="shoppingRate"/>
        <result column="is_show_exchange" property="isShowExchange"/>
        <result column="is_show_shopping" property="isShowShopping"/>
        <result column="sort_no" property="sortNo"/>
        <result column="remark" property="remark"/>
    </resultMap>

</mapper>
