<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.diandian.dubbo.business.mapper.merchant.MerchantAttentionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.diandian.dubbo.facade.model.merchant.MerchantAttentionModel">
        <result column="id" property="id"/>
        <result column="merchant_id" property="merchantId"/>
        <result column="focus_merchant_id" property="focusMerchantId"/>
        <result column="name" property="name"/>
        <result column="avatar" property="avatar"/>
        <result column="state" property="state"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!--查找关注列表-->
    <select id="listAttention" resultMap="BaseResultMap">
        select a.name ,a.avatar,b.* from merchant_info a left  join  merchant_attention b on a.id=b.focus_merchant_id
         where b.state=1 and b.merchant_id=#{merchantId}
    </select>

<!--    查找粉丝-->
    <select id="listFans"  resultMap="BaseResultMap">
        select a.name,a.avatar,b.* from merchant_info a left  join merchant_attention b on a.id=b.merchant_id
        where b.state=1 and b.focus_merchant_id=#{focusMerchantId}
    </select>
</mapper>
